<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>风格定制-Bootstrap样例1</title>
    <!-- Bootstrap css -->
    <link href="http://o.qcloud.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://o.qcloud.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <link href="http://o.qcloud.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css"
          rel="stylesheet">
    <link href="http://o.qcloud.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css"
          rel="stylesheet">

    <!-- 当前项目样式文件 -->
    <link href="/static/css/sb-admin.css" rel="stylesheet">
    <link href="/static/css/sb-bk-theme.css" rel="stylesheet">
    <!--蓝鲸平台APP 公用的样式文件 -->

    <link href="http://o.qcloud.com/static_api/v3/bk/css/bk.css?v=1.0.1" rel="stylesheet">
    <link href="http://o.qcloud.com/static_api/v3/assets/daterangepicker-2.0.5/daterangepicker.css" rel="stylesheet">


    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="http://o.qcloud.com/static_api/v3/assets/js/html5shiv.min.js"></script>
    <script src="http://o.qcloud.com/static_api/v3/assets/js/respond.min.js"></script>
    <![endif]-->


</head>

<body>

<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                <i class="fa fa-leaf f20 mr5"></i>
                后台管理系统
            </a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b
                        class="caret"></b></a>
                <ul class="dropdown-menu message-dropdown">
                    <li class="message-preview">
                        <a href="javascript:;">
                            <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="/static/images/50x50.png" alt="">
                                    </span>
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>qcloud</strong>
                                    </h5>
                                    <p class="small text-muted">Yesterday at 4:32 PM</p>
                                    <p>当前有一条未读的短消息...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-preview">
                        <a href="javascript:;">
                            <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="/static/images/50x50.png" alt="">
                                    </span>
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>qcloud</strong>
                                    </h5>
                                    <p class="small text-muted">Yesterday at 4:32 PM</p>
                                    <p>当前有一条未读的短消息...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-preview">
                        <a href="javascript:;">
                            <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="/static/images/50x50.png" alt="">
                                    </span>
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>qcloud</strong>
                                    </h5>
                                    <p class="small text-muted">Yesterday at 4:32 PM</p>
                                    <p>当前有一条未读的短消息...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-footer">
                        <a href="javascript:;">查看所有消息</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b
                        class="caret"></b></a>
                <ul class="dropdown-menu alert-dropdown">
                    <li>
                        <a href="javascript:;"><span class="label label-default">&nbsp;&nbsp;提醒内容&nbsp;&nbsp;</span></a>
                    </li>
                    <li>
                        <a href="javascript:;"><span class="label label-primary">&nbsp;&nbsp;提醒内容&nbsp;&nbsp;</span></a>
                    </li>
                    <li>
                        <a href="javascript:;"><span class="label label-success">&nbsp;&nbsp;提醒内容&nbsp;&nbsp;</span></a>
                    </li>
                    <li>
                        <a href="javascript:;"><span class="label label-info">&nbsp;&nbsp;提醒内容&nbsp;&nbsp;</span></a>
                    </li>
                    <li>
                        <a href="javascript:;"><span class="label label-warning">&nbsp;&nbsp;提醒内容&nbsp;&nbsp;</span></a>
                    </li>
                    <li>
                        <a href="javascript:;"><span class="label label-danger">&nbsp;&nbsp;提醒内容&nbsp;&nbsp;</span></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:;" class='text-center'>查看所有提醒</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> admin
                    <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:;"><i class="fa fa-fw fa-user"></i> 用户</a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="fa fa-fw fa-envelope"></i> 消息盒</a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="fa fa-fw fa-gear"></i> 设置</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:;"><i class="fa fa-fw fa-power-off"></i> 退出</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a href="/"><i class="fa fa-fw fa-dashboard"></i> 首页</a>
                </li>
                <li>
                    <a href="/AllTask"><i class="fa fa-fw fa-table"></i>所有任务</a>
                </li>
                <li class="active">
                    <a href="/AddTask"><i class="fa fa-fw fa-edit"></i>发布任务</a>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i
                            class="fa fa-fw fa-arrows-v"></i>任务管理<i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="demo" class="collapse">
                        <li>
                            <a href="/MyCreate">已发布任务</a>
                        </li>
                        <li>
                            <a href="/MyFollow">已领取任务</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row page-header-box">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        任务管理
                    </h1>
                </div>
            </div>

            <div class="main-wrap">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        发布新任务
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-8">
                            <form class="form-horizontal mt15" id="user_form" action="/AddTask/" method="post"
                                  onsubmit="return insert()">
                                <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">标题：</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="请填写任务标题" name="title"
                                               value="${title}" required>
                                        <span class="king-required-tip text-danger ml5">*</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">难度：</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="user_role" name="level">
                                            <option value="1">初级</option>
                                            <option value="2">中级</option>
                                            <option value="3">高级</option>
                                        </select>
                                        <span class="king-required-tip text-danger ml5">*</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">积分：</label>
                                    <div class="col-sm-10">
                                        <input type="number" min="0" max="100" class="form-control"
                                               id="form8_demo1" placeholder="请填写积分数" name="score" value="${score}">
                                        <span class="king-required-tip text-danger ml5">*</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">截止时间：</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control daterangepicker_demo"
                                               id="daterangepicker_demo1" placeholder="选择日期..." name="end">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">通知邮箱：</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" placeholder="请填写电子邮箱" id="user_email"
                                               name="email" value="${email}" required>
                                        <span class="king-required-tip text-danger ml5">*</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">内容概述：</label>
                                    <div class="col-sm-10">
                                        <div id="editor1_demo1" style="width:100%">
                                            <textarea id="editor" rows="10" cols="30"
                                                      style="height:280px;width:99%;margin:0 auto;">${cont}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <input name="context" type="hidden" id="cont">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <button class="king-btn king-info mr10" title="保存" id="context" type="submit">
                                            <i class="fa fa-save btn-icon"></i>发布
                                        </button>
                                        <a class="king-btn king-default" title="返回">
                                            <i class="fa fa-mail-reply-all btn-icon"></i>返回
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-6" style="color: #dd1531;font-size: 18px">
                            ${message}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
<script src="http://o.qcloud.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
<!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
<script src="http://o.qcloud.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>

<script src="http://o.qcloud.com/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>

<script src="http://o.qcloud.com/static_api/v3/assets/daterangepicker-2.0.5/moment.min.js"></script>
<script src="http://o.qcloud.com/static_api/v3/assets/daterangepicker-2.0.5/daterangepicker.js"></script>


<!--富文编辑器依赖-->
<script type="text/javascript">
    $(function () {
        // 编辑器(kendoEditor)
        //editor1_demo1_js_start
        $("#editor").kendoEditor();

        $('#btns').on('click', 'button', function (e) {
            var editor = $("#editor").data('kendoEditor');
            var action = $(e.target).attr('name');

            switch (action) {
                    // 获取htmlt
                case 'getHtml':
                    alert(editor.value());
                    break;
                    // 设置html
                case 'setHtml':
                    editor.value('<h4>设置html</h4>');
                    break;
                    // 插入html
                case 'insertHtml':
                    editor.body.appendChild(editor.document.createTextNode("hello,World"));
                    break;
            }
        });
        //editor1_demo1_js_end
    });

    function insert() {
        var editor = $("#editor").data('kendoEditor');
        if (editor.value().length <= 0) {
            alert("内容概述不能为空!");
            return false
        } else {
            con = document.getElementById("cont");
            con.value = editor.value();
            return true
        }
    }
</script>
<script type="text/javascript">
    // 选择单个日期
    $('#daterangepicker_demo1').daterangepicker({
        locale: {
            format: "YYYY-MM-DD HH:MM:ss"
        },
        autoApply: true,//选择日期后自动设置值
        singleDatePicker: true,//单选选择一个日期
        timePicker: true,//支持时间选择
        timePicker24Hour: true,//开启24小时时间制
        timePickerIncrement: 5, //分钟间隔
        timePickerSeconds: true //开启分钟选择

    });
</script>
</body>

</html>
